:root {
  --blood-red: #720404ff;
  --safety-orange: #ec7505ff;
  --lavender-floral: #b35cfa;
  --verdigris: #6DC2BDff;
  --raisin-black: #181820ff;
  --raisin-header: #21212Bff;
  --raisin-body: #272732ff;
  --gray-hover: #5d5d5d;
  --white: #eaeaea;
  --funny-yellow: #ffbd7f;
}

.blood-red {
  background-color: var(--blood-red);
}

.safety-orange {
  background-color: var(--safety-orange);
}

.color-orange {
  color: var(--safety-orange);
}

.lavender-floral {
  background-color: var(--lavender-floral);
}

.verdigris {
  background-color: var(--verdigris);
}

.raisin-black {
  background-color: var(--raisin-black);
}

.raisin-header {
  background-color: var(--raisin-header);
}

.raisin-body {
  background-color: var(--raisin-body);
}

.white {
  background-color: var(--white);
}

.green {
  background-color: var(--verdigris);
}

.yellow {
  background-color: var(--safety-orange);
}

.red {
  background-color: var(--blood-red);
  color: var(--white);
}

.gray {
  background-color: var(--gray-hover);
}

@font-face {
  font-family: "Font Awesome";
  src: url("../fonts/fa-regular-400.ttf");
}

section {
  scrollbar-color: var(--verdigris) var(--raisin-body);
  scrollbar-width: bold;
}

.gradient-base {
  background: #ff00ac;
  background: linear-gradient(166deg, #ff00ac 0%, #b35cfa 34%, #ab00ff 53%, #c16fcc 67%, #ffc000 100%);
}

.center {
  display: flex;
  justify-content: center;
}

.end {
  display: flex;
  justify-content: right;
}

.start {
  display: flex;
  justify-content: left;
}

.between {
  display: flex;
  /* justify-content: space-between; */
}

body {
  /* background: linear-gradient(166deg, rgb(255, 0, 172) 0%, rgb(12, 178, 196) 100%); */
  background: rgb(30, 35, 92);
  background: -moz-linear-gradient(166deg, rgba(30, 35, 92, 1) 0%, rgba(81, 17, 92, 1) 44%, rgba(0, 96, 93, 1) 100%);
  background: -webkit-linear-gradient(166deg, rgba(30, 35, 92, 1) 0%, rgba(81, 17, 92, 1) 44%, rgba(0, 96, 93, 1) 100%);
  background: linear-gradient(166deg, rgba(30, 35, 92, 1) 0%, rgba(81, 17, 92, 1) 44%, rgba(0, 96, 93, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e235c", endColorstr="#00605d", GradientType=1);
}

.main {
  /* background-color: var(--raisin-body); */
  width: 100vw;
  height: 100vh;
  color: var(--white);
  font-family: sans-serif;
  display: none;
  overflow: clip;
  justify-content: space-between;
}

.logs-navbar {
  padding: 10px;
}

.navbar-btn {
  width: 1300px;
  height: 40px;
  margin-right: 10px;
  background: var(--gray-hover);
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: solid 2px var(--gray-hover);
}

.navbar-btn:hover {
  border: solid 2px var(--safety-orange);
}

.section-adjust {
  margin: 20px;
  padding: 20px;
}

/* sidebar */

.sidebar {
  max-width: 300px;
  min-width: 180px;
  /* background-color: var(--raisin-body); */
  overflow-y: scroll;
}

.sidebar-title {
  margin-bottom: 50px;
  font-weight: lighter;
  font-size: 26px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-title-logo {
  width: 70px;
}

.sidebar-btn {
  padding: 10px;
  margin: 10px 0px 10px;
  border-radius: 5px;
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--white);
  font-size: 14px;
}

.sidebar-block {
  background-color: var(--raisin-black);
  cursor: default;
}

.sidebar-item {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
}

.sidebar-item:hover {
  background-color: var(--gray-hover);

}

.sidebar-item-img {
  width: 32px;
  height: 32px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
}

/* logs navbar */



/* content */

.content {
  border-radius: 10px;
  background-color: var(--raisin-black);
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tables {
  overflow: scroll;
}


/* cards */

.card {
  margin: 10px;
  text-align: left;
}

.card-max {
  max-width: 1080px;
}

.card-header {
  border-radius: 10px 10px 0px 0px;
  background-color: var(--raisin-header);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.card-title {
  text-transform: capitalize;
}

.card-body {
  border-radius: 0px 0px 10px 10px;
  background-color: var(--raisin-body);
  padding: 20px;
}

/* tables */

.tables table {
  text-align: left;
  line-break: auto;
  vertical-align: middle;
  width: 100%;
  overflow-x: auto;
}

.tables td {
  padding: 10px;
  vertical-align: middle;
}

.tables th {
  height: 40px;
  padding: 10px;
  font-weight: bold;
  vertical-align: middle;
  cursor: default;
}

.tables tr:hover {
  background-color: var(--raisin-black);
  border-radius: 10px;
}

.table-btn {
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 24px;
}

/* about */

.about-img {
  display: flex;
  justify-content: center;
  align-content: center;
}

.about-img img {
  width: 400px;
}

.about-text {
  padding: 10px;
  text-align: justify;
}

/* loading */

.loading-card {
  text-align: center;
  background-color: var(--raisin-body);
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  margin: 10px;
  height: 250px;
}

.loading-card-compact {
  width: 250px;
}

/* grid */

.grid-6-1 {
  display: block;
}

.charts {
  display: block;
}

.error {
  display: flex;
  color: var(--white);
  margin-top: 200px;
  font-weight: bolder;
}

.oh-snap-ico {
  font-size: 100px;
  text-align: center;
  margin-bottom: 60px;
}

.oh-snap {
  font-size: 32px;
  text-align: center;
}

/* report */



/* toggle */

#logs,
#reports,
#analysis,
#attack,
#botnet,
#curl,
#lookup,
#rootkit,
#scanner,
#maid_av,
#maid_ce,
#about,
#help {
  display: none;
}

#logs {
  display: block;
}


/* media query */
@media (min-width: 780px) {
  .error {
    display: none;
  }

  .main {
    display: flex;
  }
}

@media (min-width: 800px) {}

@media (min-width: 1024px) {

  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-6-1 {
    display: grid;
    grid-template-columns: 6fr 1fr;
  }

  .container {
    max-width: 976px;
  }
}

@media (min-width: 1440px) {

  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .container {
    max-width: 1440px;
  }
}